html, body, div, span,h1, h2, h3, h4, h5, h6, p{
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font-family: 'Lantinghei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif';
 vertical-align: baseline;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
a{
  text-decoration: none;
}
/**/
html,body{
  background: #333;
  height: 100%;
}
.share-icon{
  position: fixed;
  right: 30px;
  top: 30%;
  z-index: 10;
  border-radius: 5px;
  background-color: rgba(0,170,173,0);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.icon,.icon1{
  display: block;
  width:56px;
  height: 56px;
  border-radius: 100%;
  font-size: 12px;
  color: #d3d2d3;
  position: relative;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  line-height:16px;
  text-align: center;
}
.icon1{
  position: absolute;
}
.shares a.icon1 {
  opacity: 0;
  -webkit-transform: scale(0) translateX(100%);
  -ms-transform: scale(0) translateX(100%);
  transform: scale(0) translateX(100%);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.share-icon a.icon1:hover{
  -webkit-transform:scale(1.1) !important;
  -ms-transform:scale(1.1) !important;
  transform:scale(1.1) !important
}
.shares:hover a.icon1{
  opacity:1;
  -webkit-transform:scale(1) translateX(0);
  -ms-transform:scale(1) translateX(0);
  transform:scale(1) translateX(0)
}
.share-icon .twitter,.share-icon .wechat,.share-icon .weibo{
  background: #A28356 url(../img/share-icon.png) -36px 8px no-repeat;
  background-size: auto 140%;
}
.share-icon .share,.share-icon .loading,.share-icon .booking,.share-icon .to-top{
  background: url(../img/share-icon.png) -36px 8px no-repeat;
  background-size: auto 140%;
}
.share-icon .wechat{
  right: 86px;
  top: -61px;
}
.share-icon .share{
  background-position: -125px 6px;
}
.share-icon .weibo{
  background-position: -81px 6px;
  right: 126px;
  top: 0px;
}
.share-icon .twitter{
  background-position: 8px 8px;
  right: 86px;
  top: 61px;
}
.share-icon .loading{
  background-position: -37px -37px;
}
.share-icon .booking{
  background-position: -80px -39px;
}
.share-icon .to-top{
  background-position: 8px -40px;
}
.share-icon .wechat .qr,.share-icon .qr,.share-icon .qr{
  opacity:0;
  position:absolute;
  right:50px;
  top:50%;
  z-index: -1;
  background-color:#fff;
  width:150px;
  height:150px;
  -webkit-transform:translateY(-50%) scale(0.9);
  -ms-transform:translateY(-50%) scale(0.9);
  transform:translateY(-50%) scale(0.9);
  -webkit-transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.loadings,.bookings{
  position: relative;
}
.share-icon .wechat:hover .qr,.share-icon .loadings:hover .qr,.share-icon .bookings:hover .qr{
  right:70px;
  opacity:1;
  -webkit-transform:translateY(-50%) scale(1);
  -ms-transform:translateY(-50%) scale(1);
  transform:translateY(-50%) scale(1)
}
.to-top{
  display: none;
}
.icon-wrap{
  width: 56px;
  height: 56px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;/* Safari 和 Chrome */
  -moz-transition: all .5s; /* Firefox 4 */
  -o-transition: all .5s; /* Opera */
  margin-bottom: 12px;
}
.side{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px #A28356 solid;
  /* backface-visibility: hidden; */
  /* -webkit-backface-visibility: hidden; */
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.side a{
  display: table-cell;
  vertical-align: middle;
}
.icon-wrap .side-front{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
}
.icon-wrap .side-back{
  display: none;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  background: #A28356;
}
.icon-wrap:hover{
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
}
